* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    line-height: 1.4;
    font-family: sans-serif;
}

h1 {
    font-size: 1.8rem;
    margin-left: 17vh; /* Adjust this value to move the element more to the right */
}

h2 {
    font-size: 1.6rem;
}

p {
    margin-bottom: 1.4rem;
    font-size: 1rem;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

/* Styles for the container */
.delayed {
    height: 100vh;
    padding: 2rem;
    overflow: scroll;
    background-color: white;
    display: flex;
}

.map {
    height: 100vh;
    width: 60vw; /* Adjusted width to 60% of the viewport width */
    overflow: hidden;
}

.delayed-trains,
.tickets {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 30vh;
}

/* .main-delayed-trains,
.main-ticket-items {
    flex: 1;
    overflow: auto;
    width: 30vh;
} */

.delayed-trains > div,
.tickets > div {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #ccc;
    padding: 0.2rem 0.8rem;
    cursor: pointer;
    width: 30vh;
}

.delayed-trains > div:nth-of-type(2n),
.tickets > div:nth-of-type(2n) {
    background-color: #eee;
}

.train-number {
    font-size: 2rem;
    font-weight: bold;
    background-color: lightgray;
}

.current-station {
    margin-top: 0.5rem;
    width: 100%;
}

.ticket-container {
    padding: 2rem;
}

/* Styles for the overlay background */
.ticket-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Styles for the modal container */
.ticket-modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
}

/* Close button style */
.ticket-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

/* Styles for the modal container */
.modal {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center content horizontally */
}

/* Styles for the modal heading */
.modal h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}


/* Styles for the modal paragraphs (or other text content) */
.modal p {
    font-size: 1rem;
}
